/************************
GENERAL
************************/

body{
  font-family: 'Helvetica Neue', sans-serif;
}

.container-landing {
  max-width: 900px;
  margin: 75px auto 75px auto;
}

.left-container {
  padding-left: 160px !important;
  background: #7AD0E4;
  height: 100%;
}

.right-container1 {
  background: #F2E605;
  height: 50%;
}

.right-container2 {
  height: 50%;
}

.right-container2 h2 {
  padding: 20px;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fff;
}

#overlay    {
   background: url("../assets/arrows.svg") no-repeat center;
   background-size: 110%;
   text-align:center;
   height: 44vh;
   opacity:0;
   display: flex;
   align-items: center;
   justify-content: center;
   -webkit-transition: opacity .7s ease;
}

#overlayblack   {
   background: url("../assets/arrowsb.svg") no-repeat center;
   background-size: 110%;
   text-align:center;
   height: 44vh;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity:0;
   -webkit-transition: opacity .7s ease;
}

.right-container1:hover #overlayblack {
  opacity: .8;
}

.right-container2:hover #overlay {
  opacity: .8;
}

#more {
  font-family: 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  margin-top: -5%;
}

#aboutme {
  position: absolute;
  left: 38%;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #000;
  background: #fff;
  padding: 20px 70px;
  text-align: center;
  margin: 0px;
}

#sayhi {
  border: 3px solid #7AD0E4;
    background-color: #fff;
    width: 300px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #000;
    font-size: 18px;
    padding: 20px;
    position: absolute;
    margin-top: -155px;
}

.content {
  width: 500px;
  padding: 120px 0;
}

.content-right {
  width: 400px;
  padding: 120px 0;
  float: right;
  margin-right: 130px;
}

.content-left {
  width: 400px;
  padding: 120px 0;
}

#wrapper {
  max-width: 940px;
  margin:0 auto;
  padding: 0 5%;
}

a{
 text-decoration:none;
}

img{
  max-width: 100%;
}

h1 {
  font-size: 60px;
  line-height: 70px;
  color: #000;
}

h3{
  font-size: 18px !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
  color: #000 !important;
  letter-spacing: 2px;
}

p {
  font-family: 'Domine', serif;
  line-height: 30px;
  font-size: 15px;
  padding: 0 30px;
  color: #000 !important;
}

.name_image {
  width: 40%;
}

.section--hero {
  padding: 85px 0;
  height: calc(100vh - 80px);
}

.section--white {
  padding: 100px 0;
}

.section--gray {
  padding: 50px 0;
  background-color: #232323;
}

.dots-right {
  background: url(../assets/dotsv.svg) no-repeat;
  background-position-x: 101%;
  background-size: 23%;
  overflow-y: overlay;
}

.hidden {
  display: none;
}

.epithets {
  margin-top: 20px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  font-family: 'Domine', serif;
}

.headshot {
  height: 350px;
}

.bio a{
  color: #616161;
  padding: 1.5px 0;
  border-bottom: 2px solid #9ad2d9;
  transition: color 450ms;
}

.bio a:hover {
  color: #9ad2d9;
  transition: color 400ms;
}

.things {
  padding: 50px 0;
}

.cando {
  text-align: center;
}

#icons {
  height: 40%;
  position: relative;
  z-index: 99;
  background: #fff;
}

#icon1 {
  padding-left: 20px;
  margin-left: -30px;
  height: 40%;
  position: relative;
  z-index: 99;
  background: #fff;
}

.dots {
  background: url(../assets/dot.svg) repeat-x center;
  background-position-y: 30%;
  background-size: auto 27%;
  margin: 0;
}

.dot-small {
  background: url(../assets/dot-small.svg) repeat-x center;
  background-position-y: 30%;
  background-size: auto 200%;
  margin: 0;
}

.bio {
  background: url(../assets/bio.jpg) no-repeat;
  background-size: cover;
  text-align: right;
  font-weight: bold;
}

.bio a{
  border-bottom: 2px solid #7AD0E4 !important;
  transition: background-color 400ms;
  padding: 2px 4px;
}

.bio a:hover {
  background-color: #7AD0E4;
  transition: background-color 400ms;
}
.up-to {
  padding: 10px 0 10px 35px;
  border-left: 4px solid #7AD0E4;
  box-shadow: inset 0 0 0 0 #7AD0E4;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.4s;
}
.up-to h2 {
  text-align: left;
  margin-bottom: 5px !important;
  font-weight: normal !important;
  font-size: 22px;
}

.up-to p {
  text-align: left;
  padding: 0;
  margin-top: 0;
}

#upto3:hover {
    box-shadow: inset 900px 0 0 0 #7AD0E4;
}

.no-flicker {
  /*-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;*/
}

/************************
BUTTONS
************************/
.btn-basic {
  background-color: #fff;
  color: #000;
  font-family: 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  border: none !important;
  padding: 12px;
}

.btn-basic:hover {
  background-color: #000;
  color: #fff !important;
}

/************************
HEADING
************************/
header{
  float: left;
  /*margin: 15px 0 15px 0;*/
  /*padding: 0 40px 0 40px;*/
  width: 100%;
  height: 75px;
  position: absolute;
  z-index: 9999;
}

#logo {
  text-align:center;
  margin: 0;
}
 h1{
  font-family: 'Helvetica Neue', Helvetica;
  margin: 15px 0;
  font-size:1.75em;
  font-weight: normal;
  line-height:0.8em;
}

h2{
  font-size: 0.85em;
  margin: -5px 0 0;
  font-weight: bold;
  font-family: 'Domine', serif !important;
  color: #000 !important;
  margin-bottom: 80px !important;
}

a {
  color: #000 !important;
  border-bottom: 2px solid #fff !important;
  padding: 2px 4px;
  transition: background-color 400ms;
}

a:hover {
  background-color: #fff;
  transition: background-color 400ms;
}



/************************
NAVIGATION
************************/

nav {
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
}

nav ul{
  list-style: none;
  margin: 10px 10px;
  padding: 0;
}

nav li{
  display: inline-block;
}

nav a{
  font-weight:400;
  font-size: 13px;
  padding: 15px 0 1px 0;
  margin: 0 10px;
}

/************************
FOOTER
************************/

footer{
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
}

.container--footer {
  margin: 75px auto 75px auto;
  display: flex;
  justify-content: center;
  width: 400px;
}

.social-icon {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: -50px !important;
}

.social-icon img{
  width: 50px;
  height: 50px;
}

.social-icon a {
  border-bottom: none !important;
}

.social-icon a:hover {
  background: transparent;
}


/************************
PAGE: PORTFOLIO
************************/

#gallery{
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li{
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #000;

}

#gallery li a p{
  margin:0;
  padding: 5%;
  font-size:0.75em;
  color: #000;
}



/************************
PAGE: ABOUT
************************/

.profile-photo{
  display:block;
  max-width:150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

p{
 color: #616161;
}


/************************
PAGE: CONTACT
************************/

.contact-info{
  list-style: none;
  padding:0;
  margin:0;
  font-size: 0.9em;
}
.contact-info a{
  display: block;
  min-height: 20px;
  background-repeat:no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a{
   background-image: url('../img/phone.png');
}

.contact-info li.mail a{
   background-image: url('../img/mail.png');
}

.contact-info li.insta a{
   background-image: url('../img/insta.png');
}


/************************
PAGE: AP ART GALLERY
************************/

.photos{
  margin: 2.5% 0;
}


/************************
COLORS
************************/

/* site body*/
body{
  background-color: #fff;
  color: #777;
}

/*white header*/
header {
  background: #fff;
  color: #000;
}

/*nav background on mobile*/
nav{
 background: #fff;
}

/*logo text*/
h1, h2{
  color: #000;
}

/*links*/
a{
 color: #000;
}

/*nav links*/
nav a, nav a:visited {
  color: #000;
}

nav a:hover {
  border-bottom: 2px solid #9ad2d9;
}

/*selected nav links*/
nav a.selected, nav a:hover{
  color: #000;
}
