/************************
GENERAL
************************/

body{
  font-family: 'Helvetica Neue', sans-serif;
}

.container-landing {
  max-width: 900px;
  margin: 75px auto 75px auto;
}

.container-work {
  max-width: 1200px;
  margin: 75px auto 75px auto;
}
.container-work p{
  margin-left: 0;
  padding-left: 0;
}

.container-work2 {
  max-width: 1000px;
  margin: 75px auto 0 auto;
}

.left-container {
  padding-left: 10% !important;
  background: #7AD0E4;
  height: 100%;
}

.right-container1 {
  background: #F2E605;
  height: 50%;
  background-image: url(../assets/mac.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.right-container1 h3 {
  text-align: center;
  font-size: 16px !important;
  text-transform: none !important;
  padding-top: 15px;
}

.right-container2 {
  height: 50%;
  background-size: cover;
}

.right-container2 h3 {
  text-align: center;
  font-size: 16px !important;
  text-transform: none !important;
  padding-top: 15px;
  color: #fff !important;
}

#overlay    {
   background: url("../assets/arrows.svg") no-repeat center;
   background-size: 110%;
   text-align:center;
   height: 44vh;
   opacity:0;
   display: flex;
   align-items: center;
   justify-content: center;
}

#overlayblack   {
   background: url("../assets/arrowsb.svg") no-repeat center;
   background-size: 110%;
   text-align:center;
   height: 44vh;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity:0;
}

.right-container1:hover h3 {
  visibility: hidden;
}

.right-container1:hover #overlayblack {
  opacity: .8;
  margin-top: -52px;
  -webkit-transition: opacity .5s ease;

}

.right-container2:hover h3 {
  visibility: hidden;
}

.right-container2:hover #overlay {
  opacity: .8;
  margin-top: -52px;
  -webkit-transition: opacity .5s ease;
}

#more {
  font-family: 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  margin-top: -5%;
}

#aboutme {
  position: absolute;
  left: 38%;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #000;
  background: #fff;
  padding: 20px 70px;
  text-align: center;
  margin: 0px;
}


#sayhi {
  border: 3px solid #7AD0E4;
    background-color: #fff;
    width: 300px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #000;
    font-size: 18px;
    padding: 20px;
    position: absolute;
    margin-top: -155px;
}

.content {
  width: 80%;
  padding: 120px 0;
}

.content-right {
  width: 400px;
  padding: 120px 0;
  float: right;
  margin-right: 130px;
}

.content-left {
  width: 400px;
  padding: 120px 0;
}

a{
 text-decoration:none;
}

img{
  max-width: 100%;
}

h1 {
  font-size: 60px;
  line-height: 70px;
  color: #000;
}

h3{
  font-size: 18px !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
  color: #000 !important;
  letter-spacing: 2px;
}

p {
  font-family: 'Domine', serif;
  line-height: 30px;
  font-size: 15px;
  padding: 0 30px;
  color: #000 !important;
}

.text-bottom {
  display: flex;
  align-items: flex-end;
}

.name_image {
  width: 40%;
}

.section--hero {
  padding: 85px 0;
  height: calc(100vh - 80px);
}

.section--cover {
  padding: 85px 0;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section--contact {
  padding: 85px 0;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/contact.jpg) no-repeat center;
  background-size: cover;
  background-position: top;
  opacity: .92;
  margin-bottom: -55px;
}

.section--white {
  padding: 100px 0;
}

.section--gray {
  padding: 50px 0;
  background-color: #232323;
}

.section--lightgray {
  padding: 85px 0 0 0;
  background: #7AD0E4;
}

.section--full {
  padding: 85px 0 0 0;
}

.sub--section {
  max-width: 1100px;
  margin: auto !important;
  padding: 80px 0 !important;
}

.sub--right img{
  width: 90%;
  margin-left: 10%;
}

.sub--left img {
  width: 90%;
  margin-right: 10%;
}
.sub--section a {
  background-image: linear-gradient(180deg,transparent 65%,#7AD0E4 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  -webkit-transition: background-size .3s ease;
  -moz-transition: background-size .3s ease;
  -ms-transition: background-size .3s ease;
  -o-transition: background-size .3s ease;
  transition: background-size .3s ease;
}
.sub--section a:hover{
  background: linear-gradient(180deg, transparent 65%, #7AD0E4 100);
  color: #2f2f2f !important;
  background-size: 99% 100%;
  -webkit-transition: background-size .3s ease;
  -moz-transition: background-size .3s ease;
  -ms-transition: background-size .3s ease;
  -o-transition: background-size .3s ease;
  transition: background-size .3s ease;
}

.section--full h2 {
  font-size: 28px;
  line-height: 38px;
  text-align: left;
  font-weight: normal !important;
  font-style: italic;
  margin-bottom: 50px !important;
}

.dots-right {
  background: url(../assets/dotsv.svg) no-repeat;
  background-position-x: 101%;
  background-size: 23%;
  overflow-y: overlay;
}

.hidden {
  display: none;
}

.epithets {
  margin-top: 20px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  font-family: 'Domine', serif;
}

.headshot {
  height: 350px;
}

.bio a{
  color: #616161;
  padding: 1.5px 0;
  border-bottom: 2px solid #9ad2d9;
  transition: color 450ms;
}

.bio a:hover {
  color: #9ad2d9;
  transition: color 400ms;
}

.things {
  padding: 50px 0;
}

.cando {
  text-align: center;
}

#icons {
  height: 40%;
  width: 70%;
  position: relative;
  z-index: 99;
  background: #fff;
}

#icon1 {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -32px;
  height: 40%;
  width: 70%;
  position: relative;
  z-index: 99;
  background: #fff;
}

.dots {
  background: url(../assets/dot.svg) repeat-x center;
  background-position-y: 30%;
  background-size: auto 27%;
  margin: 0;
}

.dot-small {
  background: url(../assets/dot-small.svg) repeat-x center;
  background-position-y: 30%;
  background-size: auto 200%;
  margin: 0;
}

.bio {
  background: url(../assets/bio.jpg) no-repeat;
  background-size: cover;
  text-align: right;
  font-weight: bold;
}

.bio a{
  border-bottom: 2px solid #7AD0E4 !important;
  transition: background-color 400ms;
  padding: 2px 4px;
}

.bio a:hover {
  background-color: #7AD0E4;
  transition: background-color 400ms;
}
.about-tags {
  display: flex;
  justify-content: center;
  margin: 0 auto 100px auto;
}
.about-tags h6{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  position: relative;
  color: #a2aeb6;
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  vertical-align: middle;
  margin: 0;
  border: 1px solid rgba(162,174,182,.5);
  margin: 0 15px;
}

#smoke2 {
  width: 100vw;
  margin-top: 400px;
}
.up-to {
  padding: 10px 0 10px 35px;
  border-left: 4px solid #7AD0E4;
  box-shadow: inset 0 0 0 0 #7AD0E4;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.4s;
}
.up-to h2 {
  text-align: left;
  margin-bottom: 5px !important;
  font-weight: normal !important;
  font-size: 22px;
}

.up-to p {
  text-align: left;
  padding: 0;
  margin-top: 0;
}

.up-to a:hover{
  background: transparent;
}

.up-to a {
  padding: 0;
}

#upto3:hover {
    box-shadow: inset 900px 0 0 0 #7AD0E4;
}

.no-flicker {
  /*-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;*/
}

.cover {
  width: 100vw;
  height: 750px;
}


/************************
HEADING
************************/
header{
  float: left;
  /*margin: 15px 0 15px 0;*/
  /*padding: 0 40px 0 40px;*/
  width: 100%;
  height: 75px;
  position: absolute;
  z-index: 9999;
}

#logo {
  text-align:center;
  margin: 0;
}
 h1{
  font-family: 'Helvetica Neue', Helvetica;
  margin: 15px 0;
  font-size:1.75em;
  font-weight: normal;
  line-height:0.8em;
}

h2{
  font-size: 0.85em;
  margin: -5px 0 0;
  font-weight: bold;
  font-family: 'Domine', serif !important;
  color: #000 !important;
  margin-bottom: 80px !important;
}

a {
  color: #000 !important;
  border-bottom: 2px solid #fff !important;
  padding: 2px 4px;
  transition: background-color 400ms;
}

a:hover {
  background-color: #fff;
  transition: background-color 400ms;
}



/************************
NAVIGATION
************************/

nav {
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
}

nav ul{
  list-style: none;
  margin: 10px 10px;
  padding: 0;
}

nav li{
  display: inline-block;
}

nav a{
  font-weight:400;
  font-size: 15px;
  padding:0px 10px;
  margin: 0 10px;
  background-image: linear-gradient(180deg,transparent 65%,#7AD0E4 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  -webkit-transition: background-size .2s ease;
  -moz-transition: background-size .2s ease;
  -ms-transition: background-size .2s ease;
  -o-transition: background-size .2s ease;
  transition: background-size .2s ease;
}

nav a:hover {
  background: linear-gradient(180deg, transparent 65%, #7AD0E4 100);
  color: #2f2f2f !important;
  background-size: 95% 100%;
  -webkit-transition: background-size .2s ease;
  -moz-transition: background-size .2s ease;
  -ms-transition: background-size .2s ease;
  -o-transition: background-size .2s ease;
  transition: background-size .2s ease;
}

.work-header a{
  font-size: 38px;
  padding: 25px 60px;
  background: #fff;
  background-size: 0 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  -webkit-transition: background-size .2s ease;
  -moz-transition: background-size .2s ease;
  -ms-transition: background-size .2s ease;
  -o-transition: background-size .2s ease;
  transition: background-size .2s ease;
}

.work-header a:hover {
  background: linear-gradient(180deg, transparent 65%, #7AD0E4 100);
  color: #2f2f2f !important;
  background-size: 99% 100%;
  -webkit-transition: background-size .2s ease;
  -moz-transition: background-size .2s ease;
  -ms-transition: background-size .2s ease;
  -o-transition: background-size .2s ease;
  transition: background-size .2s ease;
}


/************************
FOOTER
************************/

footer{
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
}

.container--footer {
  margin: 75px auto 75px auto;
  display: flex;
  justify-content: center;
  width: 400px;
}

.social-icon {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: -50px !important;
}

.social-icon img{
  width: 50px;
  height: 50px;
}

.social-icon a {
  border-bottom: none !important;
}

.social-icon a:hover {
  background: transparent;
}


/************************
PAGE: PORTFOLIO
************************/

.project h2{
  text-align: left;
}

.project p {
  text-align: left;
  padding-left: 0;
}

.project {
  border: 2px solid #7AD0E4;
}

.project-left {
  padding: 40px;
}

.work-image {
  height: 300px;
  overflow: hidden;
  border-bottom: 15px solid #7AD0E4;
}

.work-image img {
  max-width: 100%;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.work-image:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.work-page {
  width: 80%;
  margin-left: 10%;
}

.solid-panel {
  background: #7AD0E4;
  height: 100%;
}

.solid-panel h4{
  font-size: 34px !important;
  font-weight: normal !important;
  line-height: 40px !important;
  padding: 40px;
}

.solid-panel p {
  padding: 20px 40px 40px 40px;
}

.solid-panel-left {
  background: #7AD0E4;
  width: 29.5%;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin: 0 0 0 35px !important;
}

.solid-panel-left h4{
  font-size: 34px !important;
  font-weight: normal !important;
  line-height: 40px !important;
  padding: 40px;
}

.solid-panel-left p {
  padding: 20px 40px 40px 40px;
}

.work-roles h2{
  font-weight: 400 !important;
  font-size: 50px;
  line-height: 70px;
  /*font-style: italic;*/
  text-align: left;
}

.work-roles h5 {
  color: #000 !important;
}

.work-roles div {
  padding-left: 0;
}

.work-roles h2 {
  margin-bottom: 20px !important;
}
.work-roles h3 {
  font-weight: normal !important;
  font-size: 15px !important;
  color: #bebebe !important;
}

.work-roles h4 {
  font-weight: normal !important;
  font-style: italic;
  font-size: 20px !important;
}

.role--header {
  height: 5px;
  border-bottom: 4px solid #000;
  margin-top: 30px !important;
}
/************************
PAGE: ABOUT
************************/

.profile-photo{
  display:block;
  max-width:150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

p{
 color: #616161;
}

.body-section {
  padding: 80px 80px 20px 80px;
}
.dmig-body {
  padding: 20px 80px 0 80px;
}
/************************
PAGE: CONTACT
************************/
.contact-sq {
  width: 400px;
  background: #fff;
  padding: 25px !important;
}
.contact-sq div{
  padding-left: 0 !important;
}
.contact-sq h2 {
  text-align: left !important;
  padding-left: 10px;
}
.contact-sq a {
  border-bottom: 0 !important;
}
.contact-sq a:hover {
  border-bottom: 0 !important;
}
.contact-sq h3 {
  font-size: 22px !important;
  text-align: center;
  margin-bottom: 50px !important;
}
.contact-info{
  list-style: none;
  padding:0;
  margin:0;
  font-size: 0.9em;
}
.contact-info a{
  display: block;
  min-height: 20px;
  background-repeat:no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a{
   background-image: url('../img/phone.png');
}

.contact-info li.mail a{
   background-image: url('../img/mail.png');
}

.contact-info li.insta a{
   background-image: url('../img/insta.png');
}


/************************
PAGE: AP ART GALLERY
************************/

.photos{
  margin: 2.5% 0;
}


/************************
COLORS
************************/

/* site body*/
body{
  background-color: #fff;
  color: #777;
}

/*white header*/
header {
  background: #fff;
  color: #000;
}

/*nav background on mobile*/
nav{
 background: #fff;
}

/*logo text*/
h1, h2{
  color: #000;
}

/*links*/
a{
 color: #000;
}

/*nav links*/
nav a, nav a:visited {
  color: #000;
}

nav a:hover {
  border-bottom: 2px solid #9ad2d9;
}

/*selected nav links*/
nav a.selected, nav a:hover{
  color: #000;
}
/************************
BUTTONS
************************/
#btn-basic {
  background-color: #fff !important;
  color: #000;
  font-family: 'Helvetica Neue', sans-serif;
  text-transform: uppercase !important;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  border: none !important;
  padding: 12px 14px;
  position: absolute;
}

#btn-basic:hover {
  background-color: #000 !important;
  color: #fff !important;
}
