@media screen and (min-width: 480px) {
    /************************
    TWO COLUMN LAYOUT
    ************************/

  #primary{
    width: 50%;
    float: left;
  }

  #secondary{
    width: 40%;
    float: right;
  }

}
@media screen and (min-width: 1000px) and (max-width: 1096px) {

  .photo-panel-grid {
    width: 100%;
    height: 45vh;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .arm {
    top: 55% !important;
  }
  .description {
    top: 115%;
  }
  .blue--container {
    top: 140vh;
  }
  .do-title::before {
    height: 270px;
    top: -19%;
  }
  .section {
    height: 265vh;
  }
  .section--green {
    margin-top: -375px;
  }

  .photo-panel-grid {
    width: 100%;
    height: 45vh;
  }
}

@media screen and (min-width: 660px){


/************************
HEADER
************************/

nav{
   background: none;
   float: right;
   text-align: right;
   margin: 0 auto;
   padding: 10px 0;
   width: 100%;
   position: fixed;
   background: rgba(255, 255, 255, .92);
   top: 0;
  }

  h1{
    font-size: 48px !important;
    line-height: 80px !important;
    font-weight: bold !important;
  }
  a{
    text-decoration: none !important;
  }

  h2{
   font-size: 0.925em;
    margin-bottom: 20px;
    font-weight: bold !important;
  }

}

@media only screen and (min-width : 320px) and (max-width :667px) {
  #photos-main {
    max-width: 90vw;
  }
  .see-more-photos {
    display: block !important;
    visibility: visible !important;
    text-align: center !important;
  }
  .title {
    z-index: 999;
  }
  .description{
    z-index: 999;
  }
  #amazon_header {
    display: none;
    visibility: hidden;
  }
  #overlay {
    display: none;
  }
  #logo {
    display: none;
    visibility: hidden;
  }
  #nav_img {
    display: none;
    visibility: hidden;
  }
  nav {
    width: 100vw;
  }
  h1 {
    font-family: 'Georgia', serif;
    font-weight: bold !important;
  }
  .craft {
    top: 15%;
    width: 100%;
    overflow-x: hidden;
  }
  .craft img {
    width: auto;
    max-width: 150% !important;
  }
  .section--hero {
    padding: 115px 0;
  }
  #section--bio {
    padding: 0 !important;
    margin-top: 30px !important;
    height: 65vh !important;
    border-bottom: none; 
  }
  .do-title::before {
    display: none;
  }
  .do-title::after {
    display: none;
  }
  .urban-timeline .brackets {
    padding: 0;
  }
  .urban-timeline .do-title::after {
    display: block;
  }
  .urban-timeline .do-text {
    background: white;
    border: 1px solid black;
    padding: 5%;
    z-index: 999;
  }
  .urban-timeline .do-text p {
    margin-bottom: 0;
    text-align: left !important;
    margin-top: 2%;
  }
  .urban-timeline .do-text h2 {
    float: left !important;
  }

  .stel-timeline .brackets {
    padding: 0;
  }
  .stel-timeline .do-title::after {
    display: block;
  }
  .stel-timeline .do-text {
    background: white;
    border: 1px solid black;
    padding: 5%;
    z-index: 999;
  }
  .stel-timeline .do-text p {
    margin-bottom: 0;
    text-align: left !important;
    margin-top: 2%;
  }
  .stel-timeline .do-text h2 {
    float: left !important;
  }
  .stel-timeline .box {
    top: 62%;
  }
  #alpha {
    top: 85%;
  }
  #beta {
    top: 110%;  
  }
  .stel-timeline #dotitle::after {
    height: 115%;
  }
  #stel-img {
    padding: 250px 0 30px !important;
  }


  .do-title h3 {
    font-size: 12px !important;
  }
  .brackets {
    width: 100%;
    padding: 10px;
    top: 18%;
  }
  .do-text {
    text-align: left;
    max-width: 50%;
  }
  .do-text h2 {
    text-align: left;
    margin: 0;
    font-size: 16px;
  }
  .do-text p {
    padding-left:  0;
    font-size: 10px;
  }
  #brackets {
    max-width: 100px;
  }
  .brackets::after {
    display: none;
  }
  .light::before {
    display: none;
  }
  .light {
    width: 100%;
    top: 46%;
  }
  .light img {
    margin: 0 10%;
  }
  .box {
    width: 100%;
    top: 70%;
  }
  .box::after{
    display: none;
  }
  .title {
    position: absolute;
    top: 30%;
  }
  .description {
    top: 60%;
    width: 260px;
    left: auto;
  }
  #descriptions {
    width: 120%;
    margin-top: 16% !important;
    position: absolute;
  }
  .title h2 {
    font-size: 11px !important;
  }
  .description h2{
    font-size: 20px;
  }
  .section {
    height: 62vh;
  }
  #worktitle {
    display: none;
    visibility: hidden;
  }
  .titles button {
    margin: 0 25px;
  }
  .titles {
    margin-top: -40px;
    padding-bottom: 40px;
  }
  .panels {
    padding-left: 4%;
  }
  #panel3 {
    display: none;
    visibility: hidden;
  }
  #panel4 {
    display: none;
    visibility: hidden;
  }
  .mobile_hidden {
    display: none;
    visibility: hidden;
  }
  .section--white {
    height: 120vh;
  }
  .halfLeft {
    display: none;
    visibility: hidden;
  }
  .halfRight {
    width: 100%;
  }
  #btn-slide {
    display: none;
    visibility: hidden;
  }
  #btn-grid {
    display: none;
    visibility: hidden;
  }
  .bioRight {
    max-width: 75%;
    margin: auto;
    padding: 0;
  }
  .bioRight p {
    padding: 8% 0 2% 0;
  }
  .arm {
    display: none;
    visibility: hidden;
  }
  #overlayblack {
    display: none;
  }
  .right-container2:hover h3 {
    visibility: block;
  }
  .timeline_img {
    max-width: 85%;
  }
  .section--green {
    height: 35vh;
  }
  .section--green h2 {
    font-size: 18px;
  }
  .left-container {
    padding: 20px !important;
  }
  .right-container {
    padding: 20px !important;
  }
  .content-right {
    width: auto;
    padding: 120px 20px;
    float: right;
    margin-right: 130px;
  }
  .landing-r {
    margin-top: 930px;
  }
  footer ul {
    width: 30%;
  }
  footer li {
    display: block
  }
  footer a {
    padding: 0;
  }
  .container--footer {
    width: 100vw !important;
  }
  .right-container1 {
    background-position: bottom;
  }
  .slick-next {
    display: none;
    visibility: hidden;
  }
  .slick-prev {
    display: none;
    visibility: hidden;
  }
  .img-half {
    max-width: 43vw;
  }
  .item {
    transition: all ease-in-out .4s;
    height: 33.05vw;
    width: 47.8%;
    display: inline-block;
    margin-bottom: 2%;
    width: 100%;
    height: 30vh;
  }
  /************* project entry pages ********/
  .main-title {
    display: block;
  }
  .main {
    margin-bottom: 8%;
  }
  .main-title h1 {
    max-width: 100%;
    margin: 0;
  }
  .main-title h2 {
    max-width: 100%;
    text-align: left;
    margin-top: 3%;
  }
  .section--cover {
    height: 68vh;
  }
  .section--cover table {
    position: relative;
    right: 0;
    width: 100%;
  }
  .main-content h2 {
    max-width: 100%;
  }
  .uk-width-medium-1-2 {
    padding: 0 !important;
  }
  .uk-width-medium-1-1 h2{
    padding-left: 10%;
    padding-top: 5%;
  }
  .uk-width-medium-1-1 {
    padding: 0 !important;
  }
  .uk-width-medium-1-2 h2{
    padding-left: 10%;
    padding-top: 5%;
  }
  .hide-mobile {
    display: none;
    visibility: hidden;
  }
  .main-content img {
    padding: 5% 0 !important;
    box-shadow: none !important;
  }
  .uk-width-medium-1-2  p{
    padding-left: 8% !important;
  }
  .main-content p {
    max-width: 100%;
    padding: 0;
    margin-bottom: 10%;
  }
  .section--full {
    max-width: 90vw;
    margin: auto;
  }
  #pan-cover {
    background-position: 65% !important;
  }
  .main-content ul {
    max-width: 65%;
  }
  /************* work page ***************/
  #workpage .panels-slick .slick-dots {
    top: 25px !important;
  }

  #workpage .slick-slide {
    margin-top: 3%;
  }
  .work-section .panels {
    width: 98%;
  }
  .work-section #panel3 {
    display: inline-block;
    visibility: visible;
  }
  .panels-slick .slick-dots { 
    max-width: 68vw !important;
    margin-left: 15% !important;
    top: -35px !important;
  }
  .slick-dotted.slick-slider {
    padding-top: 4% !important;
  }
  .slick-next {
    right: 45px !important;
    top: 15% !important;
  }
  .slick-prev {
    left: 25px !important;
    top: 15% !important;
  }
  #work-titles {
    position: fixed;
    bottom: 0;
    z-index: 100;
    background: #000;
    width: 100vw;
    padding: 25px 30px 30px 25px;
  }
  #work-titles-center {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
  .btnActive {
    outline: none;
    border-bottom: 1px solid #fff !important;
  }
  .work-titles button {
    background: #000;
    color: #fff !important;
  }
  #aboutme {
    left: 10%;
  }
  #abouttitle {
    margin: 0;
  }
  .content {
    padding: 30px;
  }
  .content h1 {
    font-family: 'Georgia', serif;
    font-size: 45px;
    font-weight: bold;
  }
  html, body {
    overflow-x: hidden;
    max-width: 100%;
  }
  nav ul {
    margin-top: 20px;
    padding-bottom: 10px;
  }
  nav {
    background: rgba(255, 255, 255, .93)
  }
  .work-image {
    height: 250px;
  }
  .solid-panel {
    display: none;
  }
  .solid-panel-left {
    display: none;
  }
  .contact-sq {
    width: 240px;
    margin: auto;
  }
  .flex-between {
    justify-content: center;
  }
  #upto3 {
    margin-bottom: 10px;
  }
  .section--contact {
    background-size: contain;
    background-repeat: repeat;
  } 
  .main--contact::after {
    display: none;
    visibility: visible;
  }
  .main--contact {
    height: 100vh;
  }
  .main--contact img {
    opacity: .9;
    margin-top: 30%;
    max-height: 97vh;
    visibility: visible;
    display: block;
  }
  a {
    text-decoration: none !important;
  }
  .sub--left img{
    box-shadow: none !important;
    margin-bottom: 20px !important;
  }
  .sub--section h2 {
    font-size: 20px;
  }
  .sub--right img {
    margin-left: 0;
    box-shadow: none !important;
  }
  .section--full {
    padding: 0;
  }
  .main-body {
    padding: 20px;
  }
  .work-header a{
    padding: 25px 30px;
    font-size: 30px;
    line-height: 65px;
  }
  .work-roles h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
  }
  .dmig-body {
    padding: 50px;
  }
  .content-left {
    width: 100vw;
    padding: 20px 0;
  }
  #icons {
    width: 50%;
  }
  #icon1 {
    width: 50%;
    margin-left: -20px;
  }
  .about-tags {
    display: none;
  }
  .work-panel {
    margin-bottom: 40px !important;
  }
  .gray {
    padding: 25px;
  }
  .photo-panel-grid {
    width: 100%;
    height: 45vh;
  }

